.home{
    background: url("https://wallpaperset.com/w/full/c/2/9/388120.jpg");
    height: 95vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}